body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* height: 100vh; */
    height: calc(100vh - 88px);
    margin: 0;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    background-color: #ffffff;
    gap: 64px;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 44px;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: fit-content;
    gap: 32px;
    padding: 48px 32px;
}

@font-face {
    font-family: JetBrainsMono;
    src: url(../../../fonts/JetBrainsMono.ttf);
}

@font-face {
    font-family: JetBrainsMonoItalic;
    src: url(./fonts/JetBrainsMonoItalic.ttf);
}

@font-face {
    font-family: SegoeFlunetIcons;
    src: url(../../../fonts/SegoeIcons.ttf);
}

.color-picker {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.picker-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 18px;
}

.picker {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 6px;
}

#hue-picker {
    height: 30px;
    background: linear-gradient(to right, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
}

#saturation-brightness-picker {
    height: 150px;
}

.picker-indicator {
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

#hue-picker .picker-indicator {
    top: 50%;
    box-shadow: #00000050 0 1px 5px inset, #00000050 0 1px 5px;
}

#alpha-slider {
    height: 30px;
    border-radius: 6px;
    position: relative;
    width: 100%;
}

#alpha-slider::after {
    content: '';
    height: 30px;
    width: 300px;
    border-radius: 6px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 10%, var(--selected-color) 90%);
    position: absolute;
    margin-bottom: 0px;
    outline: solid 1px rgba(0, 0, 0, 0.1);
    pointer-events: none;
}

#alpha-slider:before {
    content: '';
    height: 30px;
    width: 300px;
    border-radius: 6px;
    background-image: url(./opacityBg.png);
    background-size: 40px;
    position: absolute;
    margin-bottom: 0px;
    pointer-events: none;
}

.slider-indicator {
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, 50%);
    box-shadow: #00000050 0 1px 5px inset, #00000050 0 1px 5px;
    z-index: 20;
}

#color-preview {
    width: 100%;
    height: 60px;
    border-radius: 30px;
    margin-bottom: 10px;
    outline: solid 1px rgba(0, 0, 0, 0.1);
}

#color-preview:after {
    content: '';
    height: 60px;
    width: 100%;
    border-radius: 30px;
    background-image: url(./opacityBg.png);
    background-size: 40px;
    position: relative;
    display: flex;
    margin-bottom: 0px;
    pointer-events: none;
    z-index: -2;
}

.value-name {
    font-family: JetBrainsMonoItalic;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.5;
}

.valueBox span:nth-child(2),
.alphaBox span:nth-child(2) {
    text-transform: uppercase;
    font-family: JetBrainsMono;
    font-size: 16px;
    font-weight: 600;
}

span#hex-value {
    font-size: 24px;
    line-height: 24px;
    font-weight: 450;
}

.valueBox,
.alphaBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2px;
    width: 50%;
}

.color-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    cursor: pointer;
}

.color-values {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    user-select: none;
}

.color-values div {
    cursor: pointer;
}

.options {
    gap: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    user-select: none;
}

#shades {
    display: flex;
    justify-content: center;
    /* gap: 8px; */
    /* width: 100%; */
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    gap: 8px;
}

.shade {
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    border-radius: 30px;
    transform: scale(1);
    opacity: 1;
}

.shade:hover {
    opacity: 1;
    /* transform: scale(1); */
    /* border-radius: 30px; */
    margin-top: 0;
    /* height: 60px; */
}

.shade:not(:hover) {
    opacity: 0.5;
    transform: scale(0.85);
    /* border-radius: 30px; */
    /* height: 30px; */
}

header {
    height: 44px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    -webkit-app-region: drag;
    flex-direction: row;
    padding: 0px;
    gap: 8px;
    align-items: center;
    backdrop-filter: blur(50px);
    z-index: 2096;
    opacity: 0;
    margin-top: -44px;
    transition: all 0.2s ease-in-out 0.35s;
    display: flex;
    justify-content: flex-start;
}

header #title {
    margin: 0;
    font-family: system-ui !important;
    font-size: 14px;
    user-select: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.fileUploadLabel {
    display: flex;
    align-items: center;
    width: 39px;
    height: 38px;
    justify-content: center;
    -webkit-app-region: no-drag;
    opacity: 1;
    font-family: SegoeFlunetIcons;
    font-size: 14px;
    transition: all .15s ease-in-out;
    user-select: none;
    z-index: 999;
    margin: 3px;
    border-radius: 5px;
}

.fileUploadLabel:hover {
    background: rgba(0, 0, 0, 0.1);
}

path#logobottom {
    fill: var(--selected-color);
}

path#logobottom+path {
    fill: var(--selected-color);
    opacity: 0.25;
}

.color-container {
    width: 372px;
    opacity: 1;
    border-radius: 15px;
    border: 0.5px solid rgba(219, 219, 219, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 14px;
    transform: translateY(0px);
    box-sizing: border-box;
    transition: all 0.3s ease;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

.options input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 256px;
    height: 50px;
    /* border: solid 1px rgba(0, 0, 0, 0.1); */
    position: absolute;
    margin: 0;
    /* border-radius: 4px; */
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

/* .options input[type="checkbox"]:checked {
    background-color: rgba(0, 0, 0, 0.1);
} */

.options input[type="checkbox"]::after {
    content: "";
    opacity: 0;
    margin-left: -8px;
    font-family: "SegoeFlunetIcons";
    font-size: 16px;
    /* top: calc(50% - 8px); */
    top: 7px;
    transition: all 0.2s ease-in-out;
    position: relative;
    color: #6c94bd;
    transform: scale(0.5);
}

.options input[type="checkbox"]:checked::after {
    opacity: 1;
    transform: scale(1);
    margin-left: 0px;
}

.options input[type="checkbox"]:checked+label {
    /* padding-left: 30px; */
    /* width: calc(100% - 35px); */
    padding-left: 26px;
    width: calc(100% - 31px);
}

.options label {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
    height: 50px;
    padding-left: 0px;
    padding-right: 5px;
    width: calc(100% - 5px);
    justify-content: center;
    transition: all 0.25s ease-in-out;
    font-size: 14px;
}

.options label span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.options label p {
    font-family: "JetBrainsMonoItalic", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0.75;
    font-size: 13px;
    margin: 0;
}

.tips:before {
    content: '';
    font-family: "SegoeFlunetIcons";
    font-size: 18px;
    /* margin-bottom: -4px; */
    position: relative;
    /* top: 4px; */
    font-weight: 650;
    transform: translateY(0.2px);
}

.tips {
    display: flex;
    align-items: center;
    font-weight: 650;
    gap: 8px;
    padding-bottom: 6px;
}

.optionsMain {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.optionsMain div {
    width: 256px;
}

.dialog {
    padding: 14px 17px;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    left: calc(50% - 186px);
    top: 85%;
    width: 372px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 32px;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(30px);
    box-shadow: rgb(0, 0, 0, 0.15) 0px 8px 20px;
    gap: 8px;
    transform: scale(0.75);
    opacity: 0;
    font-weight: 500;
    animation: dialog-fade-in-out 5s cubic-bezier(0.35, -0.15, 0.65, 1.15);
    transition: all .25s ease-in-out;
    user-select: none;
    margin-top: 10px;
}

.dialog:hover {
    margin-top: -10px;
}

.dialog code {
    font-weight: 500;
    font-family: "JetBrainsMono";
}

.dialog p {
    margin: 0;
    max-width: 296px;
    text-align: center;
}

div#done::before {
    content: '';
    font-family: "SegoeFlunetIcons";
    font-size: 15px;
    /* top: calc(50% - 8px); */
    /* top: 7px; */
    transition: all 0.2s ease-in-out;
    /* position: relative; */
    color: #000000;
    font-weight: 600;
    /* margin-bottom: 1px; */
    transform: translateY(-0.2px);
}

div#error::before {
    content: '';
    font-family: "SegoeFlunetIcons";
    font-size: 15px;
    /* top: calc(50% - 8px); */
    /* top: 7px; */
    transition: all 0.2s ease-in-out;
    /* position: relative; */
    color: #000000;
    font-weight: 600;
    /* margin-bottom: 1px; */
    transform: translateY(-0.2px);
}

div#done::after,
div#error::after {
    content: '';
    width: 15px;
    height: 15px;
}

@keyframes dialog-fade-in-out {
    0% {
        transform: scale(0.75);
        opacity: 0;
        border-radius: 32px;
        box-shadow: rgb(0, 0, 0, 0) 0px 0px 0px;
        margin-top: 10px;
        box-shadow: rgb(0, 0, 0, 0) 0px 0px 0px;
    }

    6% {
        transform: scale(1);
        opacity: 1;
        border-radius: 12px;
        margin-top: 0px;
        box-shadow: rgb(0, 0, 0, 0.15) 0px 8px 20px;
    }

    94% {
        transform: scale(1);
        border-radius: 12px;
        opacity: 1;
        margin-top: 0px;
        box-shadow: rgb(0, 0, 0, 0.15) 0px 8px 20px;
    }

    100% {
        transform: scale(0.85);
        opacity: 0;
        border-radius: 32px;
        margin-top: 10px;
        box-shadow: rgb(0, 0, 0, 0) 0px 0px 0px;
    }
}