@font-face {
    font-family: "SegoeFlunetIcons";
    src: url("../../fonts/SegoeIcons.ttf");
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("../../fonts/JetBrainsMono.ttf");
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 44px;
    color: var(--text-color);
    overflow-y: hidden;
    justify-content: center;
    gap: 20px;
}

.axis-control {
    width: 300px;
    position: relative;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

.axis-control label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--text-color);
}

.axis-control input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: calc(100% - 42px);
    height: 18px;
    border-radius: 4px;
    background: transparent;
    outline: 0;
    border: 1px solid var(--text-color-25);
    margin: 0;
    padding: 4px 6px;
    transition: all 0.15s ease-in-out;
}

.axis-control input[type="range"]:hover {
    background: var(--text-color-25);
}

.axis-control input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--text-color-75);
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.axis-control input[type="range"]::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--text-color-75);
    cursor: pointer;
    border: none;
}

.axis-control input[type="range"]#opsz::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--text-color-50);
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.axis-control input[type="range"]#opsz::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--text-color-50);
    cursor: pointer;
    border: none;
}

.axis-control input[type="range"]#opsz:hover {
    background: transparent;
}

.axis-min,
.axis-max {
    border: none;
    background: transparent;
    border-radius: 6px;
    font-family: 'JetBrainsMono';
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}


.axis {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 30px);
    padding-top: 6px;
    font-size: 14px;
    color: var(--text-color-50);
}

.axis-value {
    border: none;
    background: transparent;
    border-radius: 6px;
    font-family: 'JetBrainsMono';
    font-size: 13px;
    color: var(--text-color-75);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.a01 {
    fill: var(--text-color);
}

.a02 {
    fill: var(--text-color-75);
}

.a03 {
    fill: var(--text-color-75);
}

.a04 {
    fill: var(--text-color-50);
}

.a05 {
    fill: var(--text-color-50);
}

#content {
    width: calc(100% - 40px);
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1000px;
    opacity: 0;
    transition: opacity 0.15s ease-in-out 0.35s, width 0.15s ease-in-out, margin-left 0.15s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-left: 0px;
}

#testText {
    width: 100%;
    height: 150px;
    border: unset;
    resize: unset;
    margin: 0;
    margin-left: -8px;
    margin-top: -150px;
    padding: 26px 8px 7px 8px;
    border-bottom: solid 1px var(--text-color-25);
    /* border-radius: 6px; */
    font-family: var(--selected-font, inherit);
    color: var(--selected-color, inherit);
    font-feature-settings: var(--font-feature-settings, normal);
    font-variation-settings: var(--font-variation-settings, normal);
    background: var(--size-color-bg);
    position: sticky;
    top: 44px;
    z-index: 997;
    transition: top 0.25s ease-in-out;
    outline: none;
}

#font-info {
    margin-top: -48px;
}

#fontFeatures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

#fontPreview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: scroll;
}

#fontPreview span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    overflow-y: hidden;
}

.size {
    font-family: 'JetBrainsMono';
    font-size: 14px;
    width: 26px;
    height: 172px;
    text-align: right;
    color: var(--text-color-50);
    background: var(--size-color-bg);
    user-select: none;
    position: absolute;
    margin-left: -8px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#sizeTestText {
    font-family: var(--selected-font, inherit);
    color: var(--selected-color, inherit);
    font-feature-settings: var(--font-feature-settings, normal);
    font-variation-settings: var(--font-variation-settings, normal);
    width: max-content;
    min-height: 26px;
    margin-left: 28px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* 对比字号特殊样式 */
.size8px {
    font-size: 8px;
}

.size12px {
    font-size: 12px;
}

.size16px {
    font-size: 16px;
}

.size24px {
    font-size: 24px;
}

.size32px {
    font-size: 32px;
}

.size48px {
    font-size: 48px;
}

.size64px {
    font-size: 64px;
}

.size72px {
    font-size: 72px;
}

.size128px {
    font-size: 128px;
}

.feature-title {
    font-weight: normal;
    margin-bottom: 18px;
    width: 100%;
    user-select: none;
}

.feature-title h3 {
    font-weight: normal;
    font-size: 16px;
    opacity: 0.9;
    margin: 0;
}

.feature-title span {
    font-weight: normal;
    font-size: 13px;
    opacity: 0.5;
    margin: 0;
}

.info-title {
    font-weight: normal;
    margin-bottom: 18px;
    width: 100%;
    user-select: none;
}

.info-title h3 {
    font-weight: normal;
    font-size: 24px;
    opacity: 1;
    margin: 0;
}

.info-title span {
    font-weight: normal;
    font-size: 13px;
    opacity: 0.5;
    margin: 0;
}

.feature-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    width: 196px;
}

.feature-control label {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    height: 30px;
    padding-left: 8px;
    padding-right: 5px;
    width: calc(100% - 13px);
    justify-content: space-between;
    transition: all 0.25s ease-in-out;
    font-size: 14px;
}

.feature-control input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 196px;
    height: 30px;
    border: solid 1px var(--text-color-25);
    position: absolute;
    margin: 0;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.feature-control input[type="checkbox"]:checked {
    background-color: var(--text-color-25);
}

.feature-control input[type="checkbox"]::after {
    content: "";
    opacity: 0;
    margin-left: -8px;
    font-family: "SegoeFlunetIcons";
    font-size: 16px;
    top: 6px;
    transition: all 0.15s ease-in-out;
    position: relative;
    color: var(--text-color-75);
}

.feature-control input[type="checkbox"]:checked::after {
    opacity: 1;
    margin-left: 5px;
}

.feature-control input[type="checkbox"]:checked+label {
    padding-left: 27px;
    width: calc(100% - 32px);
}

.featureName {
    display: flex;
    padding: 0;
    padding-right: 2px;
    width: fit-content;
    font-size: 13px;
    font-family: "JetBrainsMono";
    opacity: 0;
    transition: all 0.15s ease-in-out;
}

.feature-control:hover label .featureName {
    opacity: 1;
}

#variableAxes {
    margin-top: 14px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.axis-control {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    flex-direction: column;
    user-select: none;
}

.axis-control label {
    min-width: 100px;
}

/* .axis-min,
.axis-max {
    font-size: 0.8em;
    color: var(--text-color-50);
} */

#color-picker {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
}

header {
    height: 44px;
    width: calc(100% - 164px);
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: solid 1px var(--text-color-25);
    -webkit-app-region: drag;
    display: flex;
    flex-direction: row;
    padding-left: 148px;
    padding-right: 16px;
    align-items: center;
    backdrop-filter: blur(50px);
    z-index: 2096;
    opacity: 0;
    margin-top: -44px;
    transition: all 0.2s ease-in-out 0.35s;
    display: flex;
    justify-content: space-between;
}

header svg path {
    fill: var(--text-color-75);
    transition: all 0.15s ease-in-out 0.35s;
}

#logobottom {
    fill: var(--text-color)
}

input#fontFile {
    display: flex;
    align-items: center;
    width: 1px;
    height: 1px;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-app-region: no-drag;
    opacity: 0;
}

.fileUploadLabel {
    display: flex;
    align-items: center;
    width: 39px;
    height: 38px;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-app-region: no-drag;
    opacity: 1;
    font-family: SegoeFlunetIcons;
    font-size: 14px;
    transition: all .15s ease-in-out;
    user-select: none;
    z-index: 999;
    margin: 3px;
    border-radius: 5px;
}

.fileUploadLabel:hover {
    background: var(--text-color-25);
}

p#title {
    margin: 0;
    font-family: system-ui !important;
    font-size: 14px;
    user-select: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

#title #bg {
    fill: var(--text-color-25);
}

#fontSelect {
    transform: scale(0);
    opacity: 0;
}

#fontColor {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 18px;
    height: 8px;
    border-radius: 1px;
    background-color: transparent;
    cursor: pointer;
    inline-size: 16px;
    block-size: 6px;
    padding: 0;
    box-sizing: unset;
    overflow-clip-margin: 0px !important;
    overflow: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-rtl-ordering: unset;
    margin: 0;
    padding-block: 0;
    padding-inline: 0;
    outline: 0;
    position: relative;
    left: -36px;
    top: 6px;
    z-index: -1;
}

#fontColor::-webkit-color-swatch-wrapper {
    padding: 0;
}

#fontColor::-webkit-color-swatch {
    border: none;
    border-radius: 1px;
}

#forFontColor {
    padding-left: 5px;
    margin-right: -1px;
    padding-top: 1px;
    margin-bottom: 1px;
    max-height: 32px;
    padding-right: 18px;
    border: solid 1px var(--text-color-50);
    border-radius: 6px;
    transition: all 0.1s ease-in-out;
}

#forFontColor:hover {
    border: solid 1px var(--text-color-75);
}

#forFontColor::after {
    content: '';
    font-family: "SegoeFlunetIcons";
    font-size: 10px;
    position: absolute;
    margin-top: 9px;
    margin-left: 2px;
}

#forFontColor::before {
    content: '';
    background: var(--text-color-25);
    width: 44.6px;
    display: block;
    height: 33.6px;
    position: absolute;
    z-index: -10;
    margin-top: -1px;
    margin-left: -6px;
    border-radius: 6px;
    opacity: 0;
    transition: all 0.1s ease-in-out;
}

#forFontColor:hover::before {
    opacity: 0.75;
}

#forBgColor {
    padding-left: 5px;
    margin-right: -1px;
    padding-top: 1px;
    margin-bottom: 1px;
    max-height: 32px;
    padding-right: 18px;
    border: solid 1px var(--text-color-50);
    border-radius: 6px;
    transition: all 0.1s ease-in-out;
    font-family: "SegoeFlunetIcons";
    font-size: 20px;
    margin-left: -10px;
}

#forBgColor:hover {
    border: solid 1px var(--text-color-75);
}

#forBgColor::after {
    content: '';
    font-family: "SegoeFlunetIcons";
    font-size: 10px;
    position: absolute;
    margin-top: 9px;
    margin-left: 4px;
}

#forBgColor::before {
    content: '';
    background: var(--text-color-25);
    width: 44.6px;
    display: block;
    height: 33.6px;
    position: absolute;
    z-index: -10;
    margin-top: -1px;
    margin-left: -6px;
    border-radius: 6px;
    opacity: 0;
    transition: all 0.1s ease-in-out;
}

#forBgColor:hover::before {
    opacity: 0.75;
}

#bgColor {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 22px;
    height: 22px;
    border-radius: 22px;
    background-color: transparent;
    cursor: pointer;
    inline-size: 19px;
    block-size: 19px;
    padding: 0;
    box-sizing: unset;
    overflow-clip-margin: 0px !important;
    overflow: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-rtl-ordering: unset;
    margin: 0;
    padding-block: 0;
    padding-inline: 0;
    outline: 0;
    position: relative;
    left: -37px;
    top: 0px;
    z-index: -1;
}

#bgColor::-webkit-color-swatch-wrapper {
    padding: 0;
}

#bgColor::-webkit-color-swatch {
    border: none;
    border-radius: 1px;
}

#forFontSize {
    margin-left: 6px;
    z-index: 8;
}

#forFontColor,
#forFontSize {
    font-family: "SegoeFlunetIcons";
    font-size: 20px;
}

@-moz-document url-prefix() {
    #forFontColor {
        margin-top: 2px;
    }

    #forFontSize {
        margin-top: 5px;
    }

    #fontColor {
        margin-top: -1px;
    }

    #forBgColor {
        margin-top: 1px;
    }

    #forBgColor::after {
        margin-top: 10px;
    }

    #bgColor {
        margin-top: -2px;
    }
}

/* input#fontSize {
            pointer-events: none;
        } */

#fontSize {
    height: 33px;
    margin: 0;
    padding-top: 0 !important;
    padding-inline: unset;
    padding-block: unset;
    padding-bottom: 0 !important;
    border-radius: 6px;
    padding-left: 34px;
    margin-left: -26px;
    margin-right: 5px;
    width: 48px;
    font-family: 'JetBrainsMono';
    font-size: 14px;
    border: solid 1px var(--text-color-50);
    background: transparent;
    color: var(--text-color);
    transition: all 0.1s ease-in-out;
    outline: none;
}

#fontSize:hover {
    background: var(--text-color-25);
}

.fileUploadLabelBtn {
    padding: 1px 12px 6px 10px;
    background: transparent;
    border-radius: 6px;
    border: solid 1px var(--text-color-25);
    border-bottom: solid 2px var(--text-color-25);
    font-size: 14px;
    transition: all 0.15s ease-in-out;
    user-select: none;
    margin-top: 20px;
}

.fileUploadLabelBtn::before {
    content: '';
    font-family: "SegoeFlunetIcons";
    font-size: 17px;
    margin-right: 5px;
    position: relative;
    top: 3px;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.fileUploadLabelBtn:hover::before {
    opacity: 0;
}

.fileUploadLabelBtn:hover {
    background: var(--text-color-25);
    border: solid 1px var(--text-color-50);
    border-bottom: solid 2px var(--text-color-50);
}

.fileUploadLabelBtn::after {
    content: '';
    font-family: "SegoeFlunetIcons";
    transition: all 0.25s ease-in-out;
    opacity: 0;
    position: absolute;
    margin-top: 3px;
    margin-left: -106px;
    font-size: 17px;
}

.fileUploadLabelBtn:hover::after {
    opacity: 1;
}

#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 1001;
    top: calc(50% - 128px);
    color: var(--text-color);
    opacity: 1;
    transition: all 0.15s ease-in-out 0.35s;
}

#welcome code {
    font-family: 'JetBrainsMono';
    font-weight: 300;
    /* background: var(--text-color-25); */
    /* padding: 4px 8px; */
    font-size: 14px;
    border-radius: 4px;
    user-select: none;
}

#welcome span {
    user-select: none;
    gap: 12px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#welcome h1 {
    user-select: none;
    margin: 0;
    margin-bottom: 12px;
}

#welcome p {
    user-select: none;
    margin: 0;
    /* margin-bottom: 10px; */
    padding-left: 22px;
    padding-right: 22px;
    text-align: center;
}

#welcome .icon {
    font-family: "SegoeFlunetIcons";
    font-size: 38px;
    margin-bottom: -12px;
    color: transparent;
    background-image: url(./smilebg.png);
    background-size: 24px;
    background-position: center;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
}

#welcome footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    position: fixed;
    bottom: 24px;
    opacity: 0.5;
    transition: all 0.15s ease-in-out;
}

#welcome footer:hover {
    opacity: 1;
}

#welcome footer p {
    margin: 0;
    font-size: 14px;
}

#welcome footer svg path {
    fill: var(--text-color)
}

.whgtinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* color: #0F5D7D; */
    /* background: #D5F3FF; */
    color: var(--text-color);
    border: solid 1px var(--text-color-25);
    padding: 7px 10px 7px 12px;
    gap: 6px;
    border-radius: 10px;
    width: 100%;
    margin-left: -8px;
    user-select: none;
}

.whgtinfo .icon {
    font-family: "SegoeFlunetIcons";
    font-size: 18px;
    margin-top: 1px;
}

.whgtinfo p {
    font-family: system-ui;
    font-size: 14px;
    margin: 0;
}

#font-info code {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: 'JetBrainsMono', system-ui;
    font-size: 14px;
    line-height: 25px;
}

.goback {
    display: flex;
    align-items: center;
    width: 96px;
    height: 44px;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    -webkit-app-region: no-drag;
    opacity: 1;
    font-family: SegoeFlunetIcons;
    font-size: 14px;
    transition: all .15s ease-in-out;
    user-select: none;
    z-index: 999;
    background: transparent;
    border: none;
}

.goback:hover {
    background: var(--text-color-25);
}

.char-map-item {
    display: flex;
    height: 72px;
    width: 72px;
    font-size: 32px;
    border: solid 1px var(--text-color-25);
    font-family: var(--selected-font, inherit);
    color: var(--selected-color, inherit);
    font-feature-settings: var(--font-feature-settings, normal);
    font-variation-settings: var(--font-variation-settings, normal);
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.char-map-item span {
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    font-family: system-ui;
    color: var(--text-color-50);
    margin-top: -50px;
    margin-left: -52px;
    user-select: none;
}

.char-map-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
}

#charactermap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

#charactermap h3 {
    font-weight: normal;
    font-size: 16px;
    opacity: 0.9;
    margin: 0;
}

/* @media screen and (max-width: 420px) {
    .errorinfo {
        align-items: flex-start !important;
        background: white !important;
        color: var(--text-color) !important;
        border: solid 1px var(--text-color-25) !important;
        padding: 8px 12px 12px 12px !important;
        gap: 6px !important;
        border-radius: 10px !important;
        width: calc(100% - 2px) !important;
        margin-left: -8px !important;
        margin-bottom: 8px !important;
        z-index: 10 !important;
        position: static !important;
        box-shadow: none !important;
    }
} */

.errorinfo {
    width: 364px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 14px 14px 14px 14px; */
    position: fixed;
    z-index: 1366;
    left: calc(50% - 182px);
}

.errorinfo::after {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: #0000002e;
    backdrop-filter: blur(9px);
}

.errorinfo .errorbox {
    width: 364px;
    opacity: 1;
    border-radius: 35px;
    background: rgba(255, 255, 255, 1);
    /* border: 0.5px solid rgba(0, 0, 0, 0.4); */
    box-shadow: 0px 36px 108px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px 14px 14px 14px;
    position: fixed;
    z-index: 1366;
    top: calc(100% - 218px);
    color: #000000;
    user-select: none;
}

.errorinfo .reload {
    width: 100%;
    height: 48px;
    opacity: 1;
    border-radius: 24px;
    background: rgba(244, 244, 244, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0px 14px 0px;
    border: none;
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    transition: all 0.15s ease-in-out;
}

.errorinfo .reload:hover {
    background: rgb(231, 231, 231);
}

.errorinfo .infotitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    color: rgb(230, 44, 23);
    margin-bottom: 2px;
}

.errorinfo .icon {
    font-family: SegoeFlunetIcons;
    font-size: 18px;
}

.errorinfo p {
    font-family: system-ui;
    font-size: 14px;
    margin: 0;
}

.infomain h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 1px;
}

main.infomain {
    width: calc(100% - 12px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 16px;
    padding: 6px;
}

.infomain code {
    font-family: 'JetBrainsMono';
    font-size: 12px;
    color: var(--text-color-75);
    margin-top: 12px;
    width: 100%;
    user-select: text;
}

details {
    display: flex;
    position: fixed;
    background: #FFFFFF25;
    background: var(--size-color-bg);
    left: -300px;
    top: 44px;
    z-index: 1024;
    width: 300px;
    height: calc(100vh - 84px);
    padding: 20px;
    padding-right: 40px;
    border-right: solid 0px var(--text-color-25);
    transition: all .35s ease-in-out;
    overflow-y: auto;
    opacity: 0;
}

details[open] {
    border-right: solid 1px var(--text-color-25);
    overflow-y: scroll;
    opacity: 1;
    left: 0px;
    transition: all .35s ease-in-out;
}

details[open]+#content {
    width: calc(100% - 380px);
    margin-left: 380px;
}

details>summary:first-of-type {
    display: flex;
}

/* label[onclick="toggleDetails()"]::after {
    display: flex;
    content: '';
    font-family: 'SegoeFlunetIcons';
    opacity: 1;
    transition: all 0.15s ease-in-out;
    position: relative;
    margin-left: -16px;
    user-select: none;
} */

label[onclick="toggleDetails()"]::after {
    display: flex;
    content: '';
    font-family: 'SegoeFlunetIcons';
    opacity: 1;
    transition: all 0.15s ease-in-out;
    /* position: relative; */
    margin-left: -1px;
    user-select: none;
}

/* label[onclick="toggleDetails()"]::before {
    display: flex;
    content: '';
    font-family: 'SegoeFlunetIcons';
    opacity: 0;
    transition: all 0.15s ease-in-out;
    user-select: none;
} */

/* details[open]+header label[onclick="toggleDetails()"]::after {
    opacity: 0;
}

details[open]+header label[onclick="toggleDetails()"]::before {
    opacity: 1;
} */

@media screen and (max-width: 430px) {
    details {
        left: -100%;
        width: calc(100% - 60px);
        border-radius: 0 10px 0 0;
        z-index: 2048;
    }

    details[open]+#content {
        width: calc(100% - 20px);
        margin-left: 0px;
    }

    #content {
        width: calc(100% - 20px);
        padding-left: 20px;
        padding-right: 0px;
    }
}

details::-webkit-scrollbar,
body::-webkit-scrollbar,
#fontPreview::-webkit-scrollbar {
    width: 6px;
    height: 1px;
    margin: 8px;
    border-radius: 10px;
}

details::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
#fontPreview::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: none;
    background: var(--text-color-25);
}

body::-webkit-scrollbar-track {
    /* border-radius: 10px; */
    background: var(--text-color-25);
    -webkit-box-shadow: none;
}